#unexploded {
  background: URL("img/simcity.jpg");
}

.countdown{
  background-color: rgba(255,255,255,0.5);
  color: red;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 100px;
  margin-top: 70px;
  border: 2px solid red;
;
}

.timer{
  width: 300px;
  height: 350px;
  background-color: black;
  margin: 100px auto;
  position: relative;
}

.wires{
  width:144px;
  height:253px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -64.5px;
}

.wires img{
  float: left;
  margin-right: 3px;
}

.cut{

}

button{
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -20px;
}
